
  body {
    background-color: #161926;
    color: #72A1D4;
    font-family: Arial, sans-serif;
  }
  header {
    background-color:  #467FC4;
    padding: 20px;
    text-align: center;
  }
  h1 {
    color: black;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  section {
    width: 30%;
    text-align: center;
  }
  h2 {
    color: #467FC4;
  }
  #profile {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
  }
  .progress-bar {
    height: 10px;
    background-color: white;
    
  }
  .skills p {
    text-align: justify;
  }
  .print_projects {
    width: 250px;
    height: 180px;
    cursor: pointer;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
  }
 

  .print_projects:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: none;	
	filter: none;	
}


  .description{
    color: white;
  }
  details {
    cursor: pointer;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
    section {
      width: 100%;
      margin-bottom: 20px;
    }
  }

